.header__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    background: linear-gradient(90deg, rgba(255,247,76,1) 0%, rgba(253,149,29,1) 50%, rgba(252,241,69,1) 100%);
    border: 1px solid grey;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    color: rgb(104, 104, 104);
}
.header__logo{
    width: 75px;
    background-image: url(./img/chicken-head-clipart-md.png);
    background-size: 75px;
    background-position: left;
    background-repeat: no-repeat;
    margin: 0px;
    line-height: 75px;
    padding-left: 75px;
}
.header__logout{
    text-decoration: none;
}

.header__logo:hover, .header__slogan:hover{
    cursor: pointer;
    color: black;
    transition: color 0.3s linear;
}
@media screen and (max-width: 1300px) {
    h1{
        font-size: 4vw;
    }
    h2{
        font-size: 3vw;
    }
}
@media screen and (max-width: 500px) {
    h1{
        font-size: 20px;
    }
    h2{
        display: none;
    }
}
.server_time{
    margin-left: 30px;
}

.header__user{
    display: flex;
}
.header__user_name{
    margin-right: 15px;
    max-width: 250px;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header__user_link{
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 50%;
    background-position: center;
}