block content
    .header_container
            header.header__container
                h1.header__logo Chick
                    span.colored Gramm
                h2.header__slogan You are the best of the best ......
                .header__user
                    p.header__user_name Vitaly Vysotsky
                    a(href="#").header__user_link 
            p.server_time= startTime
            nav.navigation.not_display
                ul.navigation__menu
                    li.navigation__menu_point.navigation__menu_feed
                        a(href="#entered/feed") feed
                    li.navigation__menu_point.navigation__menu_members
                        a(href="#entered/members") members
                    li.navigation__menu_point.navigation__menu_logout
                        a.logOut(href="#") logout